# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*

# Build/Artifacts
build/
dist/
*.log

# Images / cache (閬?瘙???
*.mp4
*.h264
*.png.cache
*.jpg.cache

# Notebooks
.ipynb_checkpoints/
